[submodule "Externals/glfw"]
	path = Externals/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Externals/assimp"]
	path = Externals/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Externals/glm"]
	path = Externals/glm
	url = https://github.com/g-truc/glm.git
